[submodule "vendor/tree-sitter"]
	path = vendor/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "vendor/libcc"]
	path = vendor/libcc
	url = https://github.com/Arsngrobg/LibCC.git
